<nav id="nav-sidebar">
  <div class="div-add-item">
    <button>Create &nbsp;<i class="fas fa-plus"></i></button>
  </div>
  <div id="nav-sidebar-list">
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-list"></i></span>&nbsp; Assignment</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-bars"></i></span>&nbsp; Dashboard</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-sort"></i></span>&nbsp; Manage</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-check-square"></i></span>&nbsp; Attendance</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-users"></i></span>&nbsp; Positions</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-user-circle"></i></span>&nbsp; Employees</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-print"></i></span>&nbsp; Printables</a>
    <a href="" id="sidebar-home" class="nav-item"><span class='icon-field'><i class="fa fa-calendar-check-o"></i></span>&nbsp; Scheadule</a>
  </div>
</nav>
