<div id="logobox">
    <img  class="logo" src="../../../assets/faveIcon/cocolime.png">
</div>

<div id="text1">
    <p>Register | Sign Up</p>
</div>

<div>
    <div id="inputbox1">
        <input type="text" id="username" name="username"><br>
        <div id="label1">
            <label for="id">Username</label>
        </div>
    </div>
    <div id="inputbox2">
        <input type="password" id="password" name="password">
        <button class="eye">
            <i class="fas fa-eye"></i>
        </button>
        <div id="label2">
            <label for="password">Password</label>
        </div>
    </div>
    <div id="inputbox3">
        <input type="password" id="cpassword" name="cpassword">
        <button class="eye">
            <i class="fas fa-eye"></i>
        </button>
        <div id="label3">
            <label for="cpassword">Confirm Password</label>
        </div>
    </div>
</div>

<div id="reg">
    <button class="reg"> Register </button>
</div>
